*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,body{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}


:root{
  --backgroundcolor:#c9eaf8b7;
  --color:#353347;
}
body{
  background-color: var(--backgroundcolor);
  color:var(--color);
}

li{
  list-style: none;
  text-decoration: none;
  cursor: pointer;

}

a{
  text-decoration: none;
  cursor: pointer;
}
h1{
  cursor: pointer;
}

nav{
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  width: 100%;
  background-color: #ffffff3d;
  backdrop-filter: blur(10px);
  height: 60px;
  width: 80%;
  margin: 0 auto;
  /* padding: 10px; */
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fff;
  outline: none;
  /* margin-top: 40px; */
  border-radius: 20px;
  z-index: 10;
  
}

.nav-right ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-right ul li{
 font-size: 22px;
 font-weight: 300;
}

main{
  /* position: relative; */
  /* background-color: aqua; */
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
}
/* main div{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
} */

main  video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.slide{
  position: absolute;
  transition: 1.2s;
}

.btn{
  position: relative;
  /* top: 50%; */
  z-index: 11;
  /* background-color: red; */
  top: -15%;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.leftbtn{
  outline: none;
  /* padding: 20px; */
  border-radius: 50%;
  height: 46px;
  width: 46px;
  text-align: center;
  background-color: #ffffff19;
  backdrop-filter: blur(10px);
  border: none;
  cursor: pointer;
}

.leftbtn:hover{
  background-color: #ffffff2d;
  
}
.rightbtn{
  border: none;
  cursor: pointer;
  outline: none;
  /* padding: 20px; */
  border-radius: 50%;
  height: 46px;
  width: 46px;
  text-align: center;
   background-color: #ffffff19;
  backdrop-filter: blur(10px);
}
.rightbtn:hover{
  background-color: #ffffff2d;
  
}