*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,body{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}


:root{
  --backgroundcolor:#d2dfe9b7;
  --color:#353347;
}
body{
  background-color: var(--backgroundcolor);
  color:var(--color);
}

li{
  list-style: none;
  text-decoration: none;
  cursor: pointer;

}

a{
  text-decoration: none;
  cursor: pointer;
  color: var(--color);
}
h1{
  cursor: pointer;
}

nav{
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
 
  background-color: #ffffff3d;
  backdrop-filter: blur(10px);
  height: 60px;
  width: 80%;
  margin: 0 auto;
  /* padding: 10px; */
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fff;
  outline: none;
  /* margin-top: 40px; */
  border-radius: 20px;
  z-index: 10;
  
}

.nav-right ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-right ul li{
 font-size: 22px;
 font-weight: 300;
}

main{
  /* position: relative; */
  /* background-color: aqua; */
  height:100vh;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
}
/* main div{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
} */

main  video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.slide{
  position: absolute;
  transition: 1.2s;
}

.btn{
  position: relative;
  /* top: 50%; */
  z-index: 11;
  /* background-color: red; */
  top: -15%;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.leftbtn{
  outline: none;
  /* padding: 20px; */
  border-radius: 50%;
  height: 46px;
  width: 46px;
  text-align: center;
  background-color: #ffffff19;
  backdrop-filter: blur(10px);
  border: none;
  cursor: pointer;
}

.leftbtn:hover{
  background-color: #ffffff2d;
  
}
.rightbtn{
  border: none;
  cursor: pointer;
  outline: none;
  /* padding: 20px; */
  border-radius: 50%;
  height: 46px;
  width: 46px;
  text-align: center;
   background-color: #ffffff19;
  backdrop-filter: blur(10px);
}
.rightbtn:hover{
  background-color: #ffffff2d;
  
}
#about{
  /* background-color: red; */
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}
.left{
  width: 50%;
  /* background-color: red; */
}
.left p{
  line-height: 1.2;
  font-size: 30px;

}
.right{
  width: 50%;
  /* background-color: red; */
}

.right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
h2{
  text-align: center;
  margin: 20px auto;
  font-size: 48px;
}
#weather{
   /* background-color: red; */
   
  width: 80%;
  margin: 50px auto;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.wrapper{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding: 60px;
  align-items: center;
  width: 40%;
  border: 1px solid #fff;
  backdrop-filter: blur(10px);
  background-color: var(--backgroundcolor);
  
  gap: 30px;
  border-radius: 22px;
}
.input{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.temp{
  margin-top: 20px;
  text-align: center;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.leftdetails{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightdetails{
  display: flex;
  align-items: center;
}

input{
  padding: 10px;
  outline: none;
  color: var(--color);
  font-size: 18px;
  border: 1px solid #fffffffa;
  background-color: #ffffff41;
  border-radius: 10px;
  backdrop-filter: blur(10px);

}

.search{
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff41;

  backdrop-filter: blur(10px);
  width: 36px;
  height: 36px;
  text-align: center;

}
.search:hover{
    background-color: #ffffff49;
}
.sp{
  text-align: center;
}
.icon{
  font-size: 28px;
}
h4 span{
  font-size: 18px;
  white-space: nowrap;
}
.lefticon{
 text-align: center;
}
.ri-search-line{
  font-size: 18px;
}
.icon{
  font-size: 22px;
}

#form{
   width: 80%;
  margin: 30px auto;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}
.formparent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background:var(--backgroundcolor);
  backdrop-filter: blur(10px);
  color: var(--color);
}
textarea {
  resize: none;
}


input:focus, textarea:focus {
  outline: none;
  border-color: #7149e9;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: var(--backgroundcolor);
  cursor: pointer;
  color: var(--color);
}
.frmbtn:hover{
  background-color:#c1e6f6d0;
}

h2{
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 40px !important;
    text-align: center;
}
.footerparent{
    margin-top: 40px !important;
   
    width: 100%;
    text-align: center;
    padding: 30px;

}
nav ul li a{
  position: relative;
  cursor: pointer;
}

.nav-right ul li a::before{
  content: "";
  background-color: #353347;

  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 0%;
  border-radius: 20px;
transition: 0.2s ease-in-out;
}

.nav-right ul li a:hover::before{
  content: "";
  background-color: #353347;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 3px;
  width: 100%;

}
#about {
  scroll-margin-top: 120px;
}



.menubtn, .closebtn{
  font-size: 26px;
  display: none;
}

.Searchbar{
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.Searchbar input{
  background-color: #ffffff7f;
  backdrop-filter: blur(10px);
}
.temp h4{
  text-transform: capitalize;
  font-size: 18px;
}

.recentsearches{
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.title {
  margin: -10px 0;
}

.recentsearches span{
  display: inline-block;
  padding: 10px 16px;
  border: 1px solid #000;
  border-radius: 18px;
  background-color: var(--backgroundcolor);
  backdrop-filter: (10px);
  cursor: pointer;

  color: #1e1e1e;
}
h6{
  font-size: 28px;
  text-align: center;
  padding: 20px 0px;
}
.CityImageWrapper{
  /* background-color: red; */
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
.imageContainer{
  width: 100%;
  /* background-color: orange; */
  border-radius: 20px;

  padding: 5px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 
 align-items: center;
 /* justify-items: center; */
  gap:6px;
  overflow-x: hidden;
}


.cityimage{
  width: 100%;
  height: 350px;
  object-fit:cover ;
  transition: all 0.27s ease-in;
  border-radius: 12px;
}

.cityimage:nth-child(2n){
  height: 370px;
}
.cityimage:nth-child(3n){
  height: 400px;
}


 .cityimage:hover{
cursor: pointer;
  transform: scale(0.8); 
  
}
.h33{
  text-align: center;
  padding: 6px 0px;
  font-size: 28px;
}
.accomodationshotel{
  width: 80%;
    /* background-color: red; */
    margin: 0 auto;
    
}
.wrapper1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.Accomodations{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hotels{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 20px;
}
.hotelcard{
  border: 1px solid #fff;
  width: 100%;
  padding: 20px;
  border-radius: 22px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hotelcard:hover{
  background-color: #d2dfe98d;
    transform: scale(1.1);
}

.Tourist{
  margin-top: 10px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.tourist{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 20px;

}
.touristcard{
  border: 1px solid #fff;
  width: 100%;
  padding: 20px;
  border-radius: 22px;
  font-size: 18px;
  cursor: pointer;
    transition: all 0.3s ease-out;
}
.touristcard:hover{
  background-color: #d2dfe98d;
    transform: scale(1.1);
}


 .cplaces,.tplaces{
  font-size: 22px;
  margin: 20px 0px;
}

 .Cardcontentpara{
    font-size: 18px;
    text-transform: capitalize;
  }
  .Cardcontent{
    font-size: 22px;
    text-transform: capitalize;
  }
/* !media queries */
@media (max-width:880px){
  .nav-right ul li {
    font-size: 18px;
  }
  .left p {
  line-height: 1;
  font-size: 20px;
}
.wrapper{
  width: 60%;
}

}

@media (max-width:800px){
 nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  
 }

  .nav-right ul{
  display: none;
  background-color: red;
  flex-direction: column;
  position:absolute ;
  top: 39px;
  right: 0;
  /* width: 100%; */
  width: 300px;
  margin: 0 auto;
  /* height: 60vh; */
  /* gap: -20px; */
  background-color: rgba(255, 255, 255, 0.479);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 0px;
 
  
}


  .menubtn{
    display: block;
  }

  .closebtn{
    display: none;
  }

  .nav-right ul.active{
    display: flex;
     
  }

  .menubtn.active{
    display: none;
  }
  .closebtn.active{
    display: block;
  }
  .imageContainer{
  width: 100%;
  /* background-color: orange; */
  border-radius: 20px;

  padding: 5px;
 display: grid;
 grid-template-columns: repeat(2,1fr);
 
 align-items: center;
 /* justify-items: center; */
  gap:6px;
  overflow-x: hidden;
}
.hotels{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 10px;
}
.tourist{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 10px;
}
 .Cardcontentpara{
    font-size: 16px;
    text-transform: capitalize;
  }
  .Cardcontent{
    font-size: 20px;
    text-transform: capitalize;
  }
}

@media (max-width:680px){
  #about{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 22px;
  }

    .left  {
      
        width: 60%;
}

.right  {
  width: 100%;
  height: 100%;
  text-align: center;
  
}

.right img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.wrapper{
  width: 75%;
}

}

@media (max-width:497px){
  .wrapper{
    width: 100%;
  }
  .right{
    width: 80%;
  }
  .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
   .left  {
      
        width: 80%;
}

.recentsearches{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.imageContainer{
  width: 100%;
  /* background-color: orange; */
  border-radius: 20px;

  padding: 5px;
 display: grid;
 grid-template-columns: repeat(1,1fr);
 
 align-items: center;
 /* justify-items: center; */
  gap:6px;
  overflow-x: hidden;
}
.hotels{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 10px;
}
.tourist{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 10px;
}
}

@media(max-width:360px){
  .wrapper{
    padding: 40px;
    width: 100%;
  }
  input{
    gap: 1px;
    font-size: 12px;
  }
  #form{
    width: 100%;
  }
  .Cardcontentpara{
    font-size: 16px;
  }
  .Cardcontent{
    font-size: 18px;
  }
  .h33{
    font-size: 20px;
  }
}