* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #1e1e1e;
  color: rgba(240, 255, 255, 0.87);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.wrapper {
  width: 100%;
  margin: 0, auto;
  overflow: hidden;
}

.subwrapper {
  border: 1px solid seashell;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: aqua; */
  background-color: transparent;
  padding: 40px;
  border-radius: 22px;
  gap: 20px;
  background-color: rgb(133, 183, 200);
}
.temp {
  text-align: center;
  font-size: 12px;
}
.icon {
  color: white;
  font-size: 25px;
  text-align: center;
}

.info {
  display: flex;

  align-items: center;
  /* justify-content: end !important; */
  /* background-color: antiquewhite; */
  gap: 15px;
}

.input input {
  border: 0;
  outline: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 32px;
  padding: 12px;
  color: #fff;
}

button {
  border: 0;
  outline: 0;
  padding: 10px 12px;
  border: 1px solid #ffffff11;
  border-radius: 50%;
  background-color: #ffffff31;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 12px;
}
button:hover {
  background-color: rgba(0, 255, 255, 0.189);
  color: #fff;
}

.cityname {
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 600;
}

.temp {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.Temperature {
  font-size: 28px;
  text-align: center;
}

.brezzee {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Humidity {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .subwrapper {
    padding: 30px;
  }
}

@media (max-width: 350px) {
  .subwrapper {
    padding: 20px;
  }
}
